{#
/**
 * @file superdrupal-profile.html.twig
 * Default theme implementation to present Super profile data.
 *
 * This template is used when viewing Super profile pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_super_profile()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('super_profile') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div>

